.formulario {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.titulo {
    background-image: url(../assets/images/contacto-imagen.jpg);
    background-size: cover;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex: 1;
}

.contenido {
    padding: 20px;
    flex: 1;
}

form input, textarea, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee1d580;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #e6ddca;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

.contact-info p {
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .formulario {
        flex-direction: column;
    }
}
