@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: "Brittany";
    src: url(../assets/fonts/BrittanySignature.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1e1d5;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.banner {
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
}

.banner .contenedorWhatsapp {
    position: fixed;
    top: 1vh;
    right: 4vw;
    z-index: 3;
    filter: drop-shadow(2px 4px 6px black);
}

.banner .fa-brands.fa-whatsapp {
    color: white;
    font-size: 2.5em;
    transition: all 0.2s;
}

.banner .fa-brands.fa-whatsapp:hover {
    transform: scale(1.1)
}

.banner .fa-brands.fa-whatsapp:active {
    transform: scale(1.1)
}

.banner p {
    color: white;
    font-size: 0.8em;
    margin: 0;
    padding: 0 10px;
    width:80%;

}

.banner .contenedorWhatsapp a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-top: 7px solid #f7f7f5;
}

.contenedorTitulo {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    position: absolute;
    left: 30%;
    top: 20px;
}

.contenedorTitulo h1 {
    color: black;
    filter: drop-shadow(2px 4px 2px white);
    font-family: "Brittany", serif;
    font-size: 3em;
    font-weight: 600;
    padding:10px 0;
}

.contenedorTitulo p {
    filter: drop-shadow(2px 4px 2px white);
    font-size: 1.2em;
    font-style:italic;
    font-variant: all-small-caps;
    padding-left: 39px;
    margin-top: -19px;
}

.navBar {
    position: absolute;
    top: 1vh;
    width: 100%;
}

#hamburguesa {
    filter: drop-shadow(2px 4px 2px white);
    font-size: 2.5em;
    padding: 10px;
    transition: all 0.2s;
}

#hamburguesa:hover {
    transform: scale(1.1);
}

#hamburguesa:active {
    transform: scale(1.1);
}

.navBar ul {
    list-style: none;
}

#cruz {
    display: none;
    padding:10px;
}

.navBar .navLinks {
    display: flex;
    flex-direction: column;
}

.navBar .navLinks li {
    padding: 10px;
    transition: all 0.2s
}

.navBar .navLinks li:hover {
    transform: scale(1.1);
}

.navBar .navLinks li:active {
    transform: scale(1.1);
}

.navBar ul a {
    color: black;
    filter: drop-shadow(2px 4px 2px white);
    font-size: 1.2em;
    padding: 10px;
    text-decoration: none;
}

ul.navList.navLinks{
    padding-left:0;
}


.contenedorPortada{
    overflow: hidden;
}
.contenedorPortada.paginas {
    height: 30vh;
}

.contenedorPortada img {
    object-fit: cover;
    width: 100%;
    margin-top:-50px;
}
.contenedorPortada.paginas img{
    margin-top:-65px;
}

#barraOcultar {
    background-color: #f1e1d5;
    display: none;
}
main{
    padding:15px;
}

main#inicio {
    padding: 15px 0;
}

.presentacion {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin: auto;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.contenedorFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 20px 0;
}

.contenedorIconosWhatsapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorFooter .contenedorWhatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.1s;
}

.contenedorFooter .contenedorWhatsapp:hover {
    transform: scale(1.1);
    color: #343336;
}

.contenedorFooter .contenedorWhatsapp:active {
    transform: scale(1.1);
    color: #343336;
}

.contenedorFooter .contenedorWhatsapp a {
    color: black;
    display: flex;
    text-decoration: none;
    text-decoration: none;
}

.contenedorFooter .contenedorWhatsapp a i {
    font-size: 2em;
    padding: 5px;
}

.contenedorFooter .contenedorWhatsapp p {
    font-size: 1em;
    margin-bottom: 0;
    position: relative;
    top: 11px;
}

.contenedorFooter .contenedorIconos a {
    padding: 0 5px;
}

.contenedorIconos i {
    color: black;
    font-size: 1.5em;
    transition: all 0.2s;
}

.contenedorIconos i:hover {
    transform: scale(1.1);
    color: #343336;
}

.contenedorIconos i:active {
    transform: scale(1.1);
    color: #343336;
}

.carousel-item img {
    width: 100%;
    max-width: 1300px;
    aspect-ratio: 2/1;
    max-height: 700px;
    object-fit: cover;
    margin: 0 auto;
}

/*Media Queries*/

@media screen and (min-width:576px) {
    .banner {
        padding: 0 10%;
    }

    .banner .contenedorWhatsapp {
        top: 50px;
        filter: none;
    }

    .banner .fa-brands.fa-whatsapp {
        color: rgb(16, 16, 16);
    }

    .contenedorTitulo {
        flex-direction:row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: relative;
        left: 0;
        top: 0;
    }

    .contenedorTitulo h1 {
        padding: 15px;

    }

    .contenedorTitulo p {
        padding-left: 0;
        margin-top:0;
    }

    #navBar {
        background-color: #eeedeb85;
        position: relative;
        top:0;
        margin: auto;
    }

    .navBar .navList {
        justify-content: center;
        width: 100%;
    }

    .navBar ul a {
        font-size: 1em;
    }


    .navBar .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
    }

    .navBar ul li {
        padding: 0 25px;
    }

    #barraOcultar {
        background-color: #eaebef00;
        display: flex;
        padding: 0;
    }

    #cruz,
    #hamburguesa {
        display: none;
    }


    .contenedorPortada{
        width:100%;
        margin: auto;
        margin-top:10px;
    }
    .contenedorPortada img{
        height:50vh;
        margin-top: 0;
    }
    .contenedorPortada.paginas{
        display:none;
    }

    .contenedorIconosWhatsapp {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .navList {
        display: flex;
        align-items: center;
    }

    .presentacion {
        width: 80%;
    }

}

@media screen and (min-width: 768px){
    .navList.navLinks{
        justify-content: space-evenly;
        width:80%;
    }
    .contenedorPortada, .presentacion, #carouselExampleCaptions{
        width: 80%;
        margin:auto;
    }
    .contenedorPortada{
        margin-top:20px;
    }
    .presentacion{
        padding: 35px 20px;
    }

}

@media screen and (min-width: 1200px) {

    .contenedorPortada, .presentacion, #carouselExampleCaptions{
        width: 70%
    }
}