main h2 {
  padding: 10px;
  font-size: 2em;
  color: #333;
  text-align: center;
  font-variant: all-small-caps;

}

.presentacion{
  color: #333;
  font-size: 1.2em;
  margin:auto;
  padding:20px;
  width:100%;
  text-align: center;
}
  

.container {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
}

.item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.item h2 {
  padding: 10px;
  font-size: 1.2em;
  color: #333;
  text-align: center;
}

.item p {
  padding: 20px
}

.btn-comprar,
.btn-carrito {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn-comprar {
  background-color: #007bff;
  color: #fff;
}

.btn-carrito {
  background-color: #28a745;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.star-rating {
  direction: rtl;
  display: inline-block;
  font-size: 2em;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: #ddd;
  cursor: pointer;
  font-size: 2em;
  padding: 0;
  transition: color 0.2s;
}

.star-rating input[type="radio"]:checked~label,
.star-rating input[type="radio"]:checked~label~label {
  color: gold;
}

.star-rating label:hover,
.star-rating label:hover~label {
  color: gold;
}


